.logoimg {
    max-width: 128px;
    max-height: 128px;
}
.center {
    text-align: center;
    clear: both;
}

.tcenter {
    position: ;
}

.text {
    clear: both;
}

.lightIcon {
    background-image: url(img/ic_lightbulb_outline_white_48px.svg);
    background-position: 50% 50%;
    background-size: 110px;
    background-repeat: no-repeat;    
}

.buildIcon {
    background-image: url(img/ic_build_white_48px.svg);
    background-position: 50% 50%;
    background-size: 110px;
    background-repeat: no-repeat;    
}

.packIcon {
    background-image: url(img/ic_power_input_white_48px.svg);
    background-position: 50% 50%;
    background-size: 110px;
    background-repeat: no-repeat;    
}